body {
	background-color: aliceblue;
}

ul {
	list-style: none;
	padding: 0;
}


li {
	padding: 3px;
}

.ToDoTasks .btn-group,
.FinishAndRemove,
.AddTask .btn-success {
	position: relative;
	left: 2px;
}

label {
	display: inline-block;
	font-size: 1.2em;
	
}

.ToDoTasks input[type="checkbox"] {
	font-size: 1.2em;
}

.ToDoTasks input[type="text"] {
	display: inline-block;
}

.checked {
		/*font-style: italic;*/
		color: slategrey;
		font-weight: 2000;
		font-size: 1.35em;
}

.unchecked {
		color: #333;
		text-decoration: none;
		font-style: normal;
}

input[type="text"] {
	border-radius: 5px;
}





