body {
	background-color: aliceblue;
}

ul {
	list-style: none;
	padding: 0;
}


li {
	padding: 3px;
}

.ToDoTasks .btn-group,
.FinishAndRemove,
.AddTask .btn-success {
	position: relative;
	left: 2px;
}

.AddTask input {
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 1.3em;
}

.AddTask input:focus {
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.ToDoTasks input {
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.ToDoTasks input:focus {
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

label {
	display: inline-block;
	font-size: 1.2em;
	
}

.ToDoTasks input[type="checkbox"] {
	font-size: 1.2em;
}

.ToDoTasks input[type="text"] {
	display: inline-block;
}



.checked {
		/*font-style: italic;*/
		
		color: slategrey;
		font-weight: 2000;
		font-size: 1.35em;
}


input[type="text"] {
	border-radius: 5px;
}






